.header {
	// ------------------------------------------------------------
	// 固定する場合はfixかつ、bodyにpadding-topついてるかチェック
	// ------------------------------------------------------------
	position: fixed;// ヘッダー位置固定
	top: 0;
	left: 0;
	z-index: map-get($layer,header);
	width: 100%;
	height: $header-height-pc;
	background: $white;
	// padding: *px 0;

	@include mq(sp) {
		height: $header-height-sp;
	}
	&__title {
		height: 45px;
		@include mq(tab-only) {
			width: 40%;
			height: auto;
		}
		a {
			display: block;
			height: inherit;
			&:hover {
				opacity: .6;
			}
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		@include mq(sp) {
			flex-direction: column;			
		}
	}

	// ------------------------------------------------------------
	// ナビゲーション
	// ------------------------------------------------------------
	&__nav {
		margin-left: auto;

		@include mq(sp) {
			margin: auto;
		}

		&--list {
			display: flex;// 横並び
			align-items: center;// 上下中央揃え
		}
		&--item {

			& + & {
				margin-left: 32px;
				@include mq(sp) {
					margin-left: 37px;
				}
			}
		}
		&--link {
			position: relative;
			&::after {
				display: block;
				position: absolute;
				transform: scale(0);// 最初は非表示
				width: 100%;
				height: 2px;
				content: '';
				// opacity: 0;// opacity方式でも可能
				transition: transform .5s ease 0s;

				border-bottom: 2px solid $dark-gray;
			}
			&:hover {
				&::after {
					// opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}
