header.header
	.header__inner 
		h2.header__title 
			img(src="./img/site-logo.png" alt="ロゴ")

		// ドロワーメニュー
		.header__drawer.for-drawer#js-drawer(data-target="for-drawer")
			.header__drawer--bars
				- for (var x = 0; x < 3; x++)
					.header__drawer--bar
			.header__drawer--text.for-drawer MENU

		// ドロワー背景
		.header__drawer-bg.for-drawer

		// ナビゲーションリンク
		nav.header__nav.for-drawer
			ul.header__nav--list
				each item in sectionList
					li.header__nav--item
						a(href=item.url).header__nav--link.js-drawer-item #{item.label}
	