@charset 'UTF-8';
*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;

    overflow-x: hidden;

    padding-top: 60px;

    color: #555;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
}

img
{
    display: block;

    max-width: 100%;
    height: auto;

    border: none;
}

ul,
li
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

a
{
    text-decoration: none;

    color: inherit;
}

.section__title
{
    line-height: 1;

    width: 100%;
    padding-bottom: 16px;

    text-align: center;
}

.section__title h2
{
    font-family: sans-serif;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1;

    position: relative;

    display: inline-block;

    margin: 0 auto;

    text-align: center;
}

.section__title h2::after
{
    position: absolute;
    bottom: -21px;
    left: 0;

    display: block;

    width: 100%;
    height: 5px;

    content: '';

    border-bottom: 5px solid #f2632d;
}

.inner
{
    width: 76.5625%;
    max-width: 100%;
    height: inherit;
    margin: 0 auto;
}

.util__link
{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 42px;

    width: 140px;
    height: 48px;
    margin: 0 auto;

    text-align: center;
}

.util__link a
{
    display: block;

    width: 100%;
    height: 100%;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;

    color: #f2632d;
    border: 3px solid #f2632d;
    border-radius: 30px;
}

.util__link a:hover
{
    color: #fff;
    border: 1px solid #fff;
    background: #f2632d;
}

.main
{
    margin-top: 78px;
    margin-bottom: 140px;
}

.header
{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background: #fff;
}

.header__title
{
    height: 45px;
}

.header__title a
{
    display: block;

    height: inherit;
}

.header__title a:hover
{
    opacity: .6;
}

.header__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav
{
    line-height: 1;

    margin-left: auto;
}

.header__nav--list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav--item
{
    font-size: 1.8rem;
    font-weight: 600;
}

.header__nav--item + .header__nav--item
{
    margin-left: 36px;
}

.header__nav--link
{
    position: relative;
}

.header__nav--link::after
{
    position: absolute;

    display: block;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transition: -webkit-transform .5s ease 0s;
            transition: -webkit-transform .5s ease 0s;
            transition:         transform .5s ease 0s;
            transition:         transform .5s ease 0s, -webkit-transform .5s ease 0s;
    -webkit-transform: scale(0);
            transform: scale(0);

    border-bottom: 2px solid #555;
}

.header__nav--link:hover::after
{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.footer
{
    font-size: 1.2rem;

    height: 45px;

    text-align: center;

    color: #fff;
    background: #d5d5d5;
}

.footer__copyright
{
    line-height: 50px;

    height: 100%;
}

.hero__inner
{
    padding-top: 46.79688%;

    background: url(../img/mainvisual.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__title
{
    font-size: 2.8rem;
    font-weight: 600;
}

.menu__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 95px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__item
{
    line-height: 1;

    cursor: pointer;
    text-align: center;
}

.menu__item:hover
{
    opacity: .6;
}

.menu__item--img
{
    width: 280px;
    height: 200px;
}

.menu__item--img img
{
    height: 100%;
}

.menu__item--title
{
    font-size: 2.8rem;
    font-weight: 600;

    margin-top: 29px;
}

.menu__item--desc
{
    margin-top: 28px;
}

.about
{
    margin-top: 120px;
}

.about__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 42px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about__content
{
    padding-top: 30px;
}

.about__content--title
{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.7;
}

.about__content--text
{
    font-size: 2.2rem;
    line-height: 1.7;

    margin-top: 12px;
}

.about__link
{
    margin: 28px auto 0 0;
}

.about__img img
{
    width: 100%;
}

@media (max-width: 559px)
{
    body
    {
        padding-top: 88px;
    }
    .section__title h2
    {
        font-size: 3rem;
    }
    .inner
    {
        width: 92%;
    }
    .hidden-pc
    {
        display: none;
    }
    .hidden-sp
    {
        display: none;
    }
    .main
    {
        margin-top: 70px;
        margin-bottom: 60px;
    }
    .header
    {
        height: 88px;
    }
    .header__title
    {
        width: 50%;
        height: auto;
    }
    .header__inner
    {
            flex-direction: column;

        padding-top: 8px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .header__nav
    {
        margin: 18px auto auto;
    }
    .header__nav--item
    {
        font-size: 1.6rem;
    }
    .header__nav--item + .header__nav--item
    {
        margin-left: 37px;
    }
    .footer
    {
        height: 40px;
    }
    .footer__copyright
    {
        line-height: 40px;
    }
    .hero__inner
    {
        padding-top: 96%;

        background-position: center top 30%;
    }
    .menu__list
    {
        display: block;

        margin-top: 26px;
    }
    .menu__item + .menu__item
    {
        margin: 47px 0 0 0;
    }
    .menu__item--img
    {
        margin: 0 auto;
    }
    .menu__item--title
    {
        margin-top: 28px;
    }
    .menu__item--desc
    {
        font-size: 1.6rem;

        margin-top: 10px;
    }
    .about__inner
    {
        margin-top: -10px;
    }
    .about__content
    {
        padding-top: 0;
    }
    .about__content--title
    {
        font-size: 2.6rem;

        margin-top: 40px;
    }
    .about__content--text
    {
        font-size: 1.6rem;

        margin-top: 7px;
    }
    .about__img
    {
        margin-top: 50px;
    }
}

@media (min-width: 560px) and (max-width: 959px)
{
    .hidden-tab
    {
        display: none;
    }
    .header__title
    {
        width: 40%;
        height: auto;
    }
    .menu__item
    {
        width: 30%;
        margin: auto;
    }
    .menu__item--img
    {
        width: 100%;
        height: auto;
    }
    .menu__item--img img
    {
        height: auto;
    }
    .menu__item--title
    {
        font-size: 2.4rem;

        margin-top: 20px;
    }
    .menu__item--desc
    {
        margin-top: 20px;
    }
    .about__content--title
    {
        font-size: 2.8rem;

        margin-top: 20px;
    }
    .about__content--text
    {
        font-size: 1.8rem;

        margin-top: 20px;
    }
    .about__img
    {
        margin-top: 20px;
    }
}

@media (min-width: 960px)
{
    .menu__item + .menu__item
    {
        margin-left: 39px;
    }
}

@media (max-width: 959px)
{
    .about
    {
        margin-top: 100px;
    }
    .about__inner
    {
        display: block;
    }
    .about__content
    {
        text-align: center;
    }
    .about__link
    {
        margin: 15px auto 0;
    }
}
