@charset 'UTF-8';
*,
*::before,
*::after {
	        box-sizing: border-box;

	-webkit-box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	padding-top: 60px;
	overflow-x: hidden;
	background: #ffffff;
	color: #333333;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.6;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border: none;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.section__title {
	font-weight: 600;
	font-size: 4.0rem;
	line-height: 1;
	text-align: center;
}

.inner {
	width: 980px;
	max-width: 100%;
	height: inherit;
	margin: 0 auto;
}

.util__link {
	width: 126px;
	height: 38px;
	margin: 0 auto;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 32px;
	text-align: center;
}

.util__link a {
	display: block;
	width: 100%;
	height: 100%;
	border: 3px solid #ae0009;
	background: #ae0009;
	color: #ffffff;
	        transition: all .5s ease 0s;

	-webkit-transition: all .5s ease 0s;
}

.util__link a:hover {
	background: #ffffff;
	color: #ae0009;
}

.util__floating {
	opacity: 0;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 30;
	width: 50px;
	height: 50px;
	border: 1px solid #797979;
	background: #f9f9f9;
	        transition: all .8s ease 0s;

	-webkit-transition: all .8s ease 0s;
}

.util__floating::before {
	display: block;
	position: absolute;
	top: 20px;
	left: 17px;
	        transform: rotate(45deg);
	width: 15px;
	height: 15px;
	content: '';
	        transition: opacity 1s ease 0s;

	-webkit-transform: rotate(45deg);
	-webkit-transition: opacity 1s ease 0s;
	border-top: 3px solid #797979;
	border-left: 3px solid #797979;
}

.util__floating.is-show {
	opacity: 1;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 60px;
	background: #ffffff;
}

.header__logo {
	width: 105px;
	height: 36px;
	        transition: opacity .5s ease 0s;

	-webkit-transition: opacity .5s ease 0s;
}

.header__logo img {
	width: inherit;
	height: inherit;
}

.header__logo:hover {
	opacity: .6;
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;

	-webkit-box-align: center;
	-ms-flex-align: center;
}

.header__nav {
	margin-left: auto;
}

.header__nav--list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.header__nav--item {
	font-weight: 600;
	font-size: 1.8rem;
}

.header__nav--item + .header__nav--item {
	margin-left: 30px;
}

.header__nav--link {
	position: relative;
}

.header__nav--link::after {
	display: block;
	position: absolute;
	        transform: scale(0);
	width: 100%;
	height: 2px;
	content: '';
	        transition: -webkit-transform .5s ease 0s;
	        transition:         transform .5s ease 0s;
	        transition:         transform .5s ease 0s, -webkit-transform .5s ease 0s;

	-webkit-transform: scale(0);
	-webkit-transition: -webkit-transform .5s ease 0s;
	border-bottom: 2px solid #797979;
}

.header__nav--link:hover::after {
	        transform: scale(1);

	-webkit-transform: scale(1);
}

.footer {
	padding-top: 70px;
	background: #afafaf;
	color: #ffffff;
}

.footer__inner {
	padding-bottom: 82px;
}

.footer__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.footer__item dt {
	font-weight: 600;
}

.footer__item dt::after {
	display: block;
	width: 100%;
	content: '';

	border-bottom: 1px solid #ffffff;
}

.footer__item dd {
	margin-top: 28px;
}

.footer__item li {
	list-style: inside;
	list-style-type: none;
	position: relative;
	padding: 0 23px 0 16px;
}

.footer__item li::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: '・';
}

.footer__copyright {
	height: 50px;
	background: #797979;
	font-size: 1.2rem;
	line-height: 50px;
	text-align: center;
}

.hero__inner {
	position: relative;
	padding-top: 47.26562%;
	background-image: url(../img/mainvisual.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	        transform: translate(-50%, -50%);
	width: 150px;
	height: 139px;

	-webkit-transform: translate(-50%, -50%);
}

.hero__logo img {
	width: inherit;
	height: inherit;
}

.desc1 {
	padding: 90px 0 87px;
}

.desc1__inner {
	text-align: center;
}

.desc1__title {
	font-weight: 600;
	font-size: 3.2rem;
}

.desc1__para {
	font-size: 2.0rem;
}

.desc1__para:nth-of-type(1) {
	margin-top: 35px;
	line-height: 1.7;
}

.desc1__para:nth-of-type(2) {
	margin-top: 30px;
	line-height: 2.1;
}

.desc1__para:nth-of-type(3) {
	margin-top: 30px;
	line-height: 2.1;
}

.dog1 {
	padding: 96px 0 99px;
	background: #f9f9f9;
}

.dog1__list {
	margin-top: 87px;
}

.dog1__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.dog1__item:nth-child(2) {
	    flex-direction: row-reverse;
	margin-top: 69px;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
}

.dog1__item:nth-child(2) h3 {
	margin-top: 33px;
}

.dog1__item:nth-child(3) {
	margin-top: 120px;
}

.dog1__item:nth-child(3) h3 {
	margin-top: 13px;
}

.dog1__img {
	width: 450px;
	height: 278px;
	        transition: opacity .5s ease 0s;

	-webkit-transition: opacity .5s ease 0s;
}

.dog1__img img {
	width: 100%;
	height: inherit;
}

.dog1__img:hover {
	opacity: .6;
	cursor: pointer;
}

.dog1__context {
	width: 46.93878%;
}

.dog1__context--title {
	position: relative;
	font-weight: 600;
	font-size: 2.6rem;
}

.dog1__context--title::after {
	display: inline-block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	content: '';

	border-bottom: 3px solid #ae0009;
}

.dog1__context--text {
	margin-top: 30px;
	font-size: 1.8rem;
	line-height: 1.7;
}

.dog2 {
	padding: 96px 0 89px;
}

.dog2__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin-top: 62px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.dog2__item {
	width: 30.61224%;
}

.dog2__img {
	overflow: hidden;
}

.dog2__img img {
	        transition: all .6s;

	-webkit-transition: all .6s;
}

.dog2__img img:hover {
	opacity: .6;
	        transform: scale(1.05);
	cursor: pointer;

	-webkit-transform: scale(1.05);
}

.dog2__text {
	margin-top: 30px;
}

.desc2__inner {
	position: relative;
	padding-bottom: 33.67188%;
	background-image: url(../img/dog_bg_01.png);
	background-position: center left 40%;
	background-size: cover;
	background-repeat: no-repeat;
}

.desc2__para {
	position: absolute;
	left: 49%;
	width: 51.02041%;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.8;
}

.desc2__para:nth-child(1) {
	top: 24%;
}

.desc2__para:nth-child(2) {
	top: 52%;
}

.dog3 {
	padding: 107px 0 100px;
}

.dog3__list {
	margin-top: 74px;
}

.dog3__item {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 9px 0;
	        transition: all .5s ease 0s;

	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-transition: all .5s ease 0s;
}

.dog3__item:nth-child(1)::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	content: '';

	border-top: 1px solid #797979;
}

.dog3__item::after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	content: '';

	border-top: 1px solid #797979;
}

.dog3__item:hover {
	background: #afafaf;
	cursor: pointer;
}

.dog3__date {
	position: relative;
	padding-right: 140px;
	font-weight: 600;
}

.dog3__date::after {
	display: block;
	position: absolute;
	top: 0;
	right: 36px;
	width: 84px;
	height: 26px;
	border: 1px solid #ae0009;
	color: #ae0009;
	text-align: center;
	content: '新着';
}

.dog3__link {
	margin-top: 40px;
}

@media (max-width: 559px) {
	body {
		padding-top: 50px;
	}
	.section__title {
		font-size: 2.4rem;
	}
	.inner {
		width: 345px;
	}
	.hidden-sp {
		display: none;
	}
	.util__link {
		width: 126px;
		height: 38px;
		line-height: 32px;
	}
	.header {
		width: 100vw;
	}
	.header__logo {
		width: 73px;
		height: 25px;
	}
	.header__nav--item + .header__nav--item {
		margin-left: 12px;
	}
	.header__nav--item {
		font-size: 1.4rem;
	}
	.footer {
		padding-top: 50px;
	}
	.footer__inner {
		padding-bottom: 36px;
	}
	.footer__list {
		display: block;
	}
	.footer__item {
		font-size: 1.4rem;
	}
	.footer__item + .footer__item {
		margin-top: 20px;
	}
	.footer__item dt::after {
		padding-bottom: 10px;
	}
	.footer__item dd {
		margin-top: 10px;
	}
	.footer__item li {
		padding: 3px 23px 3px 16px;
	}
	.footer__copyright {
		height: 36px;
		line-height: 36px;
	}
	.hero__inner {
		padding-top: 136.8%;
		background-image: url(../img/sp/mainvisual-sp.png);
	}
	.desc1 {
		padding: 95px 0 57px;
	}
	.desc1__title {
		font-size: 2.0rem;
	}
	.desc1__para:nth-of-type(1) {
		margin-top: 31px;
	}
	.desc1__para:nth-of-type(2) {
		line-height: 1.8;
	}
	.desc1__para:nth-of-type(3) {
		line-height: 1.8;
	}
	.desc1__para {
		margin-top: 42px;
		font-size: 1.4rem;
	}
	.dog1 {
		padding: 70px 0 50px;
	}
	.dog1__list {
		margin-top: 77px;
	}
	.dog1__item {
		display: block;
	}
	.dog1__item:nth-child(1) h3 {
		margin-top: 10px;
	}
	.dog1__item:nth-child(2) {
		margin-top: 80px;
	}
	.dog1__item:nth-child(2) h3 {
		margin-top: 12px;
	}
	.dog1__item:nth-child(3) {
		margin-top: 72px;
	}
	.dog1__img {
		width: 100%;
		height: auto;
	}
	.dog1__context {
		width: 100%;
	}
	.dog1__context--title {
		font-size: 2.0rem;
	}
	.dog1__context--title::after {
		bottom: -5px;
	}
	.dog1__context--text {
		margin-top: 18px;
		font-size: 1.6rem;
	}
	.dog2 {
		padding: 70px 0 108px;
	}
	.dog2__list {
		display: block;
		margin-top: 0px;
	}
	.dog2__item {
		width: 86.95652%;
		margin: 50px auto 0;
	}
	.dog2__item:nth-child(2) {
		margin: 45px auto 0;
	}
	.dog2__text {
		margin-top: 18px;
	}
	.desc2__inner {
		padding-bottom: 107.46667%;
		background-image: url(../img/sp/dog_bg_sp.png);
	}
	.desc2__para {
		left: 4%;
		width: 100%;
		font-size: 1.6rem;
	}
	.desc2__para:nth-child(1) {
		top: 23%;
	}
	.desc2__para:nth-child(2) {
		top: 55%;
	}
	.dog3 {
		padding: 110px 0 80px;
	}
	.dog3__list {
		margin-top: 50px;
	}
	.dog3__item {
		display: block;
		padding: 8px 0;
	}
	.dog3__date {
		display: inline-block;
		font-size: 1.4rem;
	}
	.dog3__date::after {
		right: 50px;
	}
	.dog3__text {
		margin-top: 15px;
		font-size: 1.4rem;
	}
	.dog3__link {
		margin-top: 31px;
	}
}

@media (min-width: 960px) {
	.hidden-pc {
		display: none;
	}
}

@media (min-width: 560px) and (max-width: 959px) {
	.hidden-tab {
		display: none;
	}
}
