.desc2 {
	&__inner {
		position: relative;
		padding-bottom: (431px / $layout-width-canvas-pc) * 100%;
		background-image: url(../img/dog_bg_01.png);
		background-position: center left 40%;
		background-size: cover;
		background-repeat: no-repeat;

		@include mq(tab-only) {
			// width:(*px / $layout-width-canvas-tab) * 100%;
			// padding: 0 *px 0 *px;
		}
		@include mq(sp) {
			padding-bottom: (403px / $layout-width-canvas-sp) * 100%;
			background-image: url(../img/sp/dog_bg_sp.png);
		}
	}

	&__para {
		position: absolute;
		left: 49%;
		width: (500px / $layout-width-inner-pc) * 100%;
		color: $white;
		font-weight: $font-weight-bold;
		font-size: 1.8rem;
		line-height: 1.8;

		@include mq(sp) {
			left: 4%;
			width: 100%;
			font-size: 1.6rem;
			&:nth-child(1) {
				top: 23%;
			}
			&:nth-child(2) {
				top: 55%;
			}
		}
		&:nth-child(1) {
			top: 24%;
		}
		&:nth-child(2) {
			top: 52%;
		}
	}
}
