.desc1 {
	padding: 100px 0;
    @include mq(sp) {
        padding: 100px 0 60px;
    }


	&__inner {
		text-align: center;

		@include mq(sp) {
		}
	}

	&__title {
		font-weight: $font-weight-bold;
		font-size: 3.2rem;

		@include mq(sp) {
			font-size: 2.0rem;
		}
	}
	&__para {
		margin-top: 50px;
		font-size: 2.0rem;

		@include mq(sp) {
			margin-top: 42px;
			font-size: 1.4rem;
		}
	}
}
