.desc2{
    &__inner{
        padding-bottom:(431px / $layout-width-canvas-pc) * 100%;
        background-image: url(../img/dog_bg_01.png);
        background-size: cover;
        background-position: center left 40%;
        background-repeat: no-repeat;
        

        
        @include mq(tab-only) {
            // width:(*px / $layout-width-canvas-tab) * 100%;
            // padding: 0 *px 0 *px;
        }
        @include mq(sp) {
            
            
        }
    }

    &__para{
        color: $white;
        font-size: 1.8rem;
        font-weight: $font-weight-bold;
        width:(500px / $layout-width-inner-pc) * 100%;
        margin-left: auto;
        &:nth-child(1){
            padding-top: 111px;
        }
        &:nth-child(2){
            padding-top: 40px;
        }
        @include mq(sp) {
            width: 100%;
            &:nth-child(1){
                padding-top: 100px;
            }
            &:nth-child(2){
                padding-top: 30px;
            }
        }
    }
    
}