.dog1 {
	padding: 96px 0 99px;
	background: $light-gray;

	@include mq(tab-only) {
		padding: 80px 0 70px;
	}
	@include mq(sp) {
		padding: 70px 0 50px;
	}

	&__list {
		margin-top: 87px;

		@include mq(sp) {
			margin-top: 77px;
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;

		@include mq(sp) {
			display: block;
		}

		&:nth-child(1) {
			h3 {
				@include mq(sp) {
					margin-top: 10px;
				}
			}
		}
		// 2つめだけ反転
		&:nth-child(2) {
			flex-direction: row-reverse;
			margin-top: 69px;

			@include mq(sp) {
				margin-top: 80px;
			}
			h3 {
				margin-top: 33px;

				@include mq(tab-only) {
					margin-top: 0;
				}
				@include mq(sp) {
					margin-top: 12px;
				}
			}
		}
		&:nth-child(3) {
			margin-top: 120px;

			@include mq(tab-only) {
				margin-top: 69px;
			}
			@include mq(sp) {
				margin-top: 72px;
			}
			h3 {
				margin-top: 13px;
			}
		}
	}

	&__img {
		width: 450px;
		height: 278px;
		transition: opacity .5s ease 0s;

		@include mq(tab-only) {
			width: 40%;
			height: auto;
		}
		@include mq(sp) {
			width: 100%;
			height: auto;
		}
		img {
			width: 100%;
			height: inherit;
		}
		&:hover {
			opacity: .6;
			cursor: pointer;
		}
	}

	&__context {
		width: (460px / $layout-width-inner-pc) * 100%;

		@include mq(tab-only) {
			width: 58%;
		}
		@include mq(sp) {
			width: 100%;
		}

		&--title {
			position: relative;
			font-weight: $font-weight-bold;
			font-size: 2.6rem;

			@include mq(tab-only) {
				font-size: 2.0rem;
			}
			@include mq(sp) {
				font-size: 2.0rem;
			}

			&::after {
				display: inline-block;
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				content: '';

				border-bottom: 3px solid $red;
				@include mq(sp) {
					bottom: -5px;
				}
			}
		}

		&--text {
			margin-top: 30px;
			font-size: 1.8rem;
			line-height: 1.7;

			@include mq(tab-only) {
				margin-top: 8px;
				font-size: 1.6rem;
				line-height: 1.6;
			}
			@include mq(sp) {
				margin-top: 18px;
				font-size: 1.6rem;
			}
		}
	}
}
