.dog1 {
	padding: 96px 0 99px;
	background: $light-gray;

	&__inner {
		@include mq(tab-only) {
			// width:(*px / $layout-width-canvas-tab) * 100%;
			// padding: 0 *px 0 *px;
		}
		@include mq(sp) {
			// width:(*px/$layout-width-canvas-sp) * 100%;
			// padding: 0 *px 0 *px;
		}
	}

	&__list {
		margin-top: 87px;

		@include mq(sp) {
			margin-top: 77px;
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;

		@include mq(sp) {
			display: block;
		}

		&:nth-child(1) + &:nth-child(2) {
			margin-top: 69px;

			@include mq(sp) {
				margin-top: 72px;
			}
		}

		&:nth-child(2) + &:nth-child(3) {
			margin-top: 120px;

			@include mq(sp) {
				margin-top: 72px;
			}
		}
		// 2つめだけ反転
		&:nth-child(2) {
			flex-direction: row-reverse;
			h3{
				margin-top: 33px;
			}
		}
		&:nth-child(3) {
			h3{
				margin-top: 13px;
			}
		}
	}

	&__img {
		width: 450px;
		height: 278px;
		transition: opacity .5s ease 0s;
		img {
			width: 100%;
			height: inherit;
		}
		&:hover {
			opacity: .6;
			cursor: pointer;
		}
		@include mq(sp) {
			width: 100%;
			height: auto;
		}
	}

	&__context {
		width: (460px / $layout-width-inner-pc) * 100%;

		@include mq(sp) {
			width: 100%;
		}

		&--title {
			position: relative;
			font-weight: $font-weight-bold;
			font-size: 2.6rem;

			@include mq(sp) {
				font-size: 2.0rem;
			}

			&::after {
				display: inline-block;
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				content: '';

				border-bottom: 3px solid $red;
			}
		}

		&--text {
			margin-top: 30px;
			font-size: 1.8rem;
			line-height: 1.7;

			@include mq(sp) {
				margin-top: 18px;
				font-size: 1.6rem;
			}
		}
	}
}
