.hero {
	&__inner {
		position: relative;
		padding-top: (605px / $layout-width-canvas-pc) * 100%;
		background-image: url(../img/mainvisual.png);
		background-size: cover;
		background-repeat: no-repeat;

		@include mq(sp) {
			padding-top: (513px / $layout-width-canvas-sp) * 100%;
			background-image: url(../img/sp/mainvisual-sp.png);
		}
	}
	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 150px;
		height: 139px;
		img {
			width: inherit;
			height: inherit;
		}
	}
}
