.footer {
	padding-top: 70px;
	background: $gray;
	color: $white;

	@include mq(tab-only) {
		padding-top: 50px;
	}
	@include mq(sp) {
		padding-top: 50px;
	}
	&__inner {
		padding-bottom: 82px;

		@include mq(tab-only) {
			padding-bottom: 40px;
		}
		@include mq(sp) {
			padding-bottom: 36px;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;

		@include mq(sp) {
			display: block;
		}
	}
	&__item {
		@include mq(tab-only) {
			width: 32%;
			font-size: 1.4rem;
		}
		@include mq(sp) {
			font-size: 1.4rem;
		}
		& + & {
			@include mq(sp) {
				margin-top: 20px;
			}
		}
		dt {
			font-weight: $font-weight-bold;

			&::after {
				display: block;
				width: 100%;
				content: '';

				border-bottom: 1px solid $white;
				@include mq(sp) {
					padding-bottom: 10px;
				}
			}
		}
		dd {
			margin-top: 28px;

			@include mq(sp) {
				margin-top: 10px;
			}
		}

		li {
			list-style: inside;
			list-style-type: none;
			position: relative;
			padding: 0 23px 0 16px;

			@include mq(sp) {
				padding: 3px 23px 3px 16px;
			}
			&::after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				content: '・';
			}
		}
	}

	&__copyright {
		height: 50px;
		background: $dark-gray;
		font-size: 1.2rem;
		line-height: 50px;
		text-align: center;

		@include mq(sp) {
			height: 36px;
			line-height: 36px;
		}
	}
}
