.header {
	// ------------------------------------------------------------
	// 固定する場合はfixかつ、bodyにpadding-topついてるかチェック
	// ------------------------------------------------------------
	position: fixed;// ヘッダー位置固定
	top: 0;
	left: 0;
	z-index: map-get($layer,header);
	width: 100%;
	height: $header-height-pc;
	background: $white;

	@include mq(sp) {
		width: 100vw;
	}

	&__logo {
		width: 105px;
		height: 36px;
		transition: opacity .5s ease 0s;
		img {
			width: inherit;
			height: inherit;
		}
		&:hover {
			opacity: .6;
		}
		@include mq(sp) {
			width: 73px;
			height: 25px;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		@include mq(sp) {
			
		}
	}

	// ------------------------------------------------------------
	// ナビゲーション
	// ------------------------------------------------------------
	&__nav {
		margin-left: auto;

		@include mq(sp) {
		}

		&--list {
			display: flex;// 横並び
			justify-content: center;// 左右中央揃え
			align-items: center;// 上下中央揃え
			height: inherit;

			@include mq(sp) {
				
			}
		}
		&--item {
			font-weight: $font-weight-bold;
			font-size: 1.8rem;
			& + & {
				margin-left: 30px;

				@include mq(tab-only) {
					// margin-left: *px;
				}
				@include mq(sp) {
					margin-left: 12px;
				}
			}
			@include mq(sp) {
				font-size: 1.4rem;
			}
		}
		&--link {
			position: relative;
			// 選択時の下線
			&::after {
				display: block;
				position: absolute;
				transform: scale(0);// 最初は非表示
				width: 100%;
				height: 2px;
				content: '';
				// opacity: 0;// opacity方式でも可能
				transition: transform .5s ease 0s;

				border-bottom: 2px solid $dark-gray;
			}
			&:hover {
				&::after {
					// opacity: 1;
					transform: scale(1);
				}
			}
		}
	}

}
