.home-contact {
	padding: 60px 0 120px;
	background: $light-gray;
	@include mq(tab-only) {
		padding: 40px 0 80px;
	}
	@include mq(sp) {
		padding: 40px 0 40px;
	}
	$home-contact-line-height-pc: 2;
	&__inner {
		display: flex;
		flex-direction: row-reverse;
		@include mq(tab-only) {
			display: block;
			width: 520px;
			margin: 0 0 0 30px;
		}
		@include mq(sp) {
			display: block;
		}
	}
	&__img {
		width: 580px;
		position: relative;
		img {
			width: 100%;
		}
		@extend %bg-darken;
		@include mq(tab-only) {
			width: 100%;
		}
		@include mq(sp) {
			width: 100%;
		}
	}
	&__context {
		width: (440px / $layout-width-inner-pc) * 100%;
		margin-right: 80px;
		@include mq(tab-only) {
			width: 100%;
		}
		@include mq(sp) {
			width: 100%;
		}
	}
	&__title {
		margin-top: 75px;
		@include mq(tab-only) {
			margin-top: 35px;
			letter-spacing: normal;
		}
		@include mq(sp) {
			margin-top: 33px;
		}
	}
	&__text {
		margin-top: 33px;
		line-height: $home-contact-line-height-pc;

		@include lhCrop($home-contact-line-height-pc);
		@include mq(tab-only) {
			// 
		}
	}
	&__link {
		margin-top: 22px;
		margin-right: auto;
		@include mq(tab-only) {
			margin-top: 40px;
		}
		@include mq(sp) {
			margin-top: 28px;
		}
	}
}
