.home-latest-topics{ 
    padding: 65px 0 60px;
    @include mq(tab) {
        padding: 45px 0 40px;
    }
    @include mq(sp) {
        // padding: 65px 0 40px;
    }
    &__inner{
        
        @include mq(tab-only) {
            // width:(*px / $layout-width-canvas-tab) * 100%;
            // padding: 0 *px 0 *px;
        }
        @include mq(sp) {
            // width:(*px / $layout-width-canvas-sp) * 100%;
            // padding: 0 *px 0 *px;
        }
    }

    &__title{
        // 
    }
    &__list{
        margin-top: 28px;
        width: 700px;
        margin-left: auto;
        @include mq(tab-only) {
            margin-left: 0px;
        }
    }
    &__item{
        border-bottom: 1px solid $light-gray-border;
        padding-bottom: 11px;
        & + & {
            margin-top: 28px;
        }
        time{
            font-family: $font-family-english;
            color: #CECECE;
            font-size: 1rem;
            font-weight: $font-weight-bold;
        }
        p{
            margin-top: 12px;
            font-size: 1.4rem;
            font-weight: $font-weight-bold;
        }
    }
    &__link{
        margin-top: 30px;
        margin-left: auto;
        @include mq(tab-only) {
            margin-left: 0;
            margin-right: auto;
        }
    }

}