$home-about-linear-width-pc: 771px;
$home-about-bg: $light-gray;
.home-about{ 
    padding: 120px 0 60px;
	background: linear-gradient(
	to top, $home-about-bg 0 , $home-about-bg $home-about-linear-width-pc
	,transparent $home-about-linear-width-pc, transparent 100%);

    &__inner{
        @include mq(tab-only) {
            // width:(*px / $layout-width-canvas-tab) * 100%;
        }
        @include mq(sp) {
            // width:(*px / $layout-width-canvas-sp) * 100%;
        }
    }

    &__upper{
        position: relative;
        height: 607px;
        background-image: url(../img/home/about-us.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &--context{
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            background: $white;
            width: 590px;
            height: 387px;
            padding: 50px 30px 0px;
        }

        &--title{
            margin-bottom: 30px;
        }
        &--text{
            $home-about-line-height-pc: 2;
            @include lhCrop($home-about-line-height-pc);
            line-height: $home-about-line-height-pc;
            font-family: $font-family-notosans;

        }
        &--link{
            margin-top: 30px;
        }
    }

    &__lower{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        &--item{
            width: ( 520px/$layout-width-inner-pc) *100%;
        }
        &--title{
        
        }
        &--img{
            margin-top: 30px;
            img{
                width: 100%;
            }
        }
        &--context{
        
        }
        &--text{
            margin-top: 30px;
        }
        &--link{
            margin-top: 28px;
        }
        
    }
}