 $home-top-linear-width-pc: (780px / $layout-width-canvas-pc) * 100%;
.home-top {
	position: relative;
	height: 740px;
	background: linear-gradient(
	to left, $black-bg-top 0 , $black-bg-top $home-top-linear-width-pc
	,transparent $home-top-linear-width-pc,transparent 100%);

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100%;
		height: 640px;
		background-image: url(../img/home/kv-img.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__inner {
		position: absolute;
		top: 161px;
		right: 194px;
		color: $white;

		@include mq(tab-only) {
			// 
		}
		@include mq(sp) {
			// 
		}
	}

	&__message {
		&--sub {
			font-weight: $font-weight-bold;
            font-size: 2rem;
			span {
				font-family: $font-family-english;
			}
		}
		&--main {
			margin-top: 20px;
			font-weight: $font-weight-extrabold;
			font-size: 7.2rem;
			font-family: $font-family-english;
		}
	}
}
