$home-top-linear-width-pc: (780px / $layout-width-canvas-pc) * 100%;
$home-top-linear-width-tab: (562px / $layout-width-canvas-tab) * 100%;
$home-top-linear-width-sp: (283px / $layout-width-canvas-sp) * 100%;
.home-top {
	position: relative;
	height: 740px;
	background: linear-gradient(
	to left, $black-bg-top 0 , $black-bg-top $home-top-linear-width-pc
	,transparent $home-top-linear-width-pc,transparent 100%);

	@include mq(tab-only) {
		height: 1024px;
		background: linear-gradient(
			to left, $black-bg-top 0 , $black-bg-top $home-top-linear-width-tab
			,transparent $home-top-linear-width-tab,transparent 100%);
	}
	@include mq(sp) {
		height: 667px;
		background: linear-gradient(
			to left, $black-bg-top 0 , $black-bg-top $home-top-linear-width-sp
			,transparent $home-top-linear-width-sp,transparent 100%);		
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100%;
		height: 640px;
		background-image: url(../img/home/kv-img.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		// 背景黒透明
		@extend %bg-darken;
		@include mq(tab-only) {
			width: 600px;
			height: 890px;
		}
		@include mq(sp) {
			width: 287px;
			height: 580px;
		}
	}
	&__inner {
		position: absolute;
		top: 161px;
		right: 194px;
		color: $white;
		z-index: 5;
		@include mq(tab-only) {
			top: 333px;
			right: 80px;
		}
		@include mq(sp) {
			top: 182px;
			right: 15px;
		}
	}

	&__message {
		&--sub {
			font-weight: $font-weight-bold;
			font-size: 2rem;
			span {
				display: block;
				margin-top: 6px;
				font-family: $font-family-english;
			}
			@include mq(tab) {
				font-size: 1.6rem;
			}
		}
		&--main {
			margin-top: 21px;
		}
	}
}
