$about-top-linear-width-pc: (780px / $layout-width-canvas-pc) * 100%;
.about-top {
	position: relative;
	height: 464px;
	background: linear-gradient(
	to left, $black-bg-top 0 , $black-bg-top $about-top-linear-width-pc
	,transparent $about-top-linear-width-pc,transparent 100%);
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100%;
		height: 387px;
		background-image: url(../img/about/about-top.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__inner {
		position: absolute;
		top: 156px;
		right: 170px;
		color: $white;

		@include mq(tab-only) {
			// 
		}
		@include mq(sp) {
			// 
		}
	}
	&__title{
		// 
	}
	&__message {
		&--main {
			// 
		}		
		&--sub {
			margin-top: 10px;
			font-family: $font-family-notosans;
            font-size: 2rem;
		}

	}
}
