$about-top-linear-width-pc: (780px / $layout-width-canvas-pc) * 100%;
$about-top-linear-width-tab: (406px / $layout-width-canvas-tab) * 100%;
$about-top-linear-width-sp: (198px / $layout-width-canvas-sp) * 100%;
.about-top {
	position: relative;
	height: 464px;
	background: linear-gradient(
	to left, $black-bg-top 0 , $black-bg-top $about-top-linear-width-pc
	,transparent $about-top-linear-width-pc,transparent 100%);
	@include mq(tab-only) {
		background: linear-gradient(
			to left, $black-bg-top 0 , $black-bg-top $about-top-linear-width-tab
			,transparent $about-top-linear-width-tab,transparent 100%);
		height: 615px;
	}
	@include mq(sp) {
		background: linear-gradient(
			to left, $black-bg-top 0 , $black-bg-top $about-top-linear-width-sp
			,transparent $about-top-linear-width-sp,transparent 100%);
		height: 449px;		
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100%;
		height: 387px;
		background-image: url(../img/about/about-top.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		// 背景黒透明
		@extend %bg-darken;
		@include mq(tab-only) {
			width: (587px / $layout-width-canvas-tab) * 100%;
			height: 529px;
		}
		@include mq(sp) {
			width: (287px / $layout-width-canvas-sp) * 100%;
			height: 387px;			
		}
	}
	&__inner {
		position: absolute;
		top: 165px;
		right: 165px;
		z-index: 5;
		color: $white;

		@include mq(tab-only) {
			top: 230px;
			right: 95px;
		}
		@include mq(sp) {
			top: 160px;
			right: 25px;

		}
	}
	&__title {
		letter-spacing: 0.063em;
		@include mq(tab) {
			font-size: 5.2rem;
		}
		@include mq(sp) {
			letter-spacing: normal;
		}
	}
	&__message {

		&--sub {
			margin-top: 13px;
			font-size: 2rem;
			font-family: $font-family-notosans;
			font-weight: $font-weight-bold;
			@include mq(tab) {
				margin-top: 20px;
				font-size: 1.6rem;
			}	
		}
	}
}
