extends common/_layout

//- タイトルを指定
block title
	title cording - about

block content
	.wrapper

		//- 共通変数クラス
			一度読み込めば他部品でも変数を使用可能：むしろ各所でincludeするとエラーになる
		include common/_variable

		// ヘッダー
		include components/_header

		// メイン
		main.main 

			//- about-top
			section.about-top 
				.about-top__bg 
				.about-top__inner 
					.about-top__message 
						h1.page-title.about-top__title ABOUT US
						p.about-top__message--sub DIGSMILEについて

			//- about-visual
			section.section.about-visual
				.about-visual__inner 
					h2.section__title.about-visual__title VISION
					h3.about-visual__sub-title デザインで人を笑顔にする会社
					.about-visual__context 
						p 私達のデザインで人が笑顔になる。<br><br>
							| そんなデザインを目指しています。<br><br>
							| 私達が考える人を笑顔にできるデザインとは、<br>
							| デザインが課題を適切に解決ができているかどうか。<br><br>
							| ビジュアルだけではなく、<br>
							| 本当に求められているものは何かを考え抜いて、<br>
							| デザインしていきたい。<br><br>
							| 誰かの幸せを創ることも、<br>
							| 世界の常識を変えていくことだってできる。<br><br>
							| 私達はデザインの力を信じています。

			//- about-message
			section.section.about-message
				.inner.about-message__inner
					.about-message__bg 
					.about-message__content
						h2.section__title.about-visual__title CEO MESSAGE
						.about-message__context
							| 良いデザインは人を幸せにする。<br><br>
							| 私達はそう信じています。<br><br>
							| デザインを通して、ビジネスの課題とユーザーの課題を解決することで、
							| 世の中を幸せにしていきたい。<br><br>
							| 現在はあらゆるプロダクトがデジタル化されており、
							| デザイナーに対する需要はますます高まっています。
							| それとともに、期待される役割も幅広くなりつつあります。<br><br>
							| クリエイティブで社会の可能性を切り開いていく。<br><br>
							| 変化の激しい現代、
							| 私達はデザインの力で社会を良い方向に変革していく企業を目指していきます。

			//- about-company
			section.section.about-company
				.inner.about-company__inner
					h2.section__title.about-company__title COMPANY
					dl.about-company__list 
						each item in aboutCompanyList
							.about-company__item 
								dt #{item.title}
								dd #{item.desc}
					.about-company__map
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4246.331637711553!2d139.69947893056576!3d35.68927680438485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd0d6b1ba1f%3A0x1c32a1f1ecacfdd5!2z5paw5a6_6aeF!5e0!3m2!1sja!2sjp!4v1626181725449!5m2!1sja!2sjp" width="1100" height="360" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

		// フッター
		include components/_footer

