extends _layout

//- タイトルを指定
block title
	title タイトルタイトルタイトルタイトルタイトル

block content
	.wrapper

		//- 共通変数クラス
			一度読み込めば他部品でも変数を使用可能：むしろ各所でincludeするとエラーになる
		include common/_variable

		// ヘッダー
		include components/_header

		// メイン 
		main.main 

			//- contact-top
			section.section.contact-top 
				.contact-top__bg 
				.contact-top__inner 
					.contact-top__message 
						h1.page-title.contact-top__message--main CONTACT
						p.contact-top__message--sub お問い合わせ

			//- contact-main
			section.section.contact-main 
				.inner.contact-main__inner
					p.contact-main__lead ご依頼やご相談についてのご質問やご要望がございましたら、
						| 下記フォームよりお気軽にお問い合わせください。
						| 送付いただいた内容を確認の上、担当者からご連絡させていただきます。
					//- お問い合わせフォーム
					.contact-main__content 
						form(action="#" method="post")
							dl.contact-main__list
								//- お問い合わせ種別
								.contact-main__item.is-kind
									dt.is-required お問い合わせ種別
									dd
										each item in contactKindList
											.contact-main__item--radio
												input(type="radio" id=item.id value=item.value name="request")
												label(for=item.id) #{item.label}
								//- 会社
								.contact-main__item.is-company
									dt 会社名・団体名
									dd
										input#name(type="text" name="company" placeholder="会社名")
								//- お名前
								.contact-main__item.is-name
									dt.is-required お名前
									dd
										input#name(type="text" name="name" placeholder="お名前")
								//- メールアドレス 
								.contact-main__item.is-email
									dt.is-required メールアドレス
									dd
										input#email(type="email" name="email" placeholder="sample@example.com")
								//- 電話番号 
								.contact-main__item.is-phone
									dt 電話番号
									dd
										input#phone(type="tel" name="phone" placeholder="09012345678")
								//- お問い合わせ内容
								.contact-main__item.is-content
									dt.is-required お問い合わせ内容
									dd
										textarea#remarks(name="remarks")
								//- プライバリーポリシー（テキスト）
								.contact-main__item.is-privacy-text
									dt.is-required PRIVACY POLICY
									dd
										textarea 個人情報保護方針
											| 株式会社DIGSMILE（以下、当社）では、個人情報の重要性を認識し、
											| 以下の基準に従って、適切な管理、保護に努めます。
											| 
											| 1.個人情報の収集、利用
											| 当社では、お客様との取引、サービスの提供のために個人情報を適法に収集し、収集した目的の範囲内で、個人情報を利用いたします。
											| 
											| 2.個人情報の第三者への開示と提供
											| 収集したお客様の個人情報は、法的な要請等によらない限り、お客様の承諾を得ない第三者に対して提供・開示はいたしません。
											| 業務の都合上、業務委託先に個人情報を提供する場合は、機密保持契約等によって業務委託先に個人情報保護を義務付けるとともに、業務委託先が適切に個人情報を取り扱うように管理いたします。
											| 
											| 3.個人情報の保護
											| 当社では、個人情報の紛失、破壊、改ざん、不正アクセス、および漏えい等を防止するため、適切な対策を行います。
											| 
											| 4.法令および関連規範の遵守
											| 当社は、個人情報の取り扱いに関して、個人情報保護法をはじめとする個人情報に関する法令および関連する規範を遵守します。
											| 
											| 5.個人情報の開示・訂正・削除
											| 当社では、個人情報の開示・訂正・削除等の依頼があった場合、情報提供者本人であることを確認の上、すみやかに対応いたします。
											| 
											| 法令や当社方針により、プライバシー・ポリシーを予告なく改訂することがあります。
											| 
											| お問い合わせ窓口
											| 当社の個人情報の取扱いに関するお問い合わせは下記までご連絡お願いいたします。
											| 株式会社ファイアープレイス
											| 044-589-4333
								//- プライバリーポリシー（チェックボックス）
								.contact-main__item.is-privacy-check
									input#privacy(type="checkbox" name="privacy" checked)
									label(for="privacy") 個人情報の取り扱いについて同意のうえ送信します。
							//- dl閉じ

							//- 送信ボタン
							button#submit().contact-main__submit 送信する
						//- form閉じ

					//- お問い合わせフォーム終了

		// フッター
		include components/_footer
