extends _layout

//- タイトルを指定
block title
	title タイトルタイトルタイトルタイトルタイトル

block content
	.wrapper

		//- 共通変数クラス
			一度読み込めば他部品でも変数を使用可能：むしろ各所でincludeするとエラーになる
		include common/_variable

		// ヘッダー
		include components/_header

		// メイン 
		main.main 

			//- contact-top
			section.section.contact-top 
				.contact-top__bg 
				.contact-top__inner 
					.contact-top__message 
						h1.page-title.contact-top__message--main CONTACT
						p.contact-top__message--sub お問い合わせ

			//- contact-main
			section.section.contact-main 
				.inner.contact-main__inner
					p.contact-main__lead ご依頼やご相談についてのご質問やご要望がございましたら、
						| 下記フォームよりお気軽にお問い合わせください。
						| 送付いただいた内容を確認の上、担当者からご連絡させていただきます。
					//- お問い合わせフォーム
					.contact-main__content 
						form(action="#" method="post")
							dl.contact-main__list
								//- お問い合わせ種別
								.contact-main__item.is-kind
									dt.is-required お問い合わせ種別
									dd
										each item in contactKindList
											.contact-main__item--radio
												input(type="radio" id=item.id value=item.value name="request")
												label(for=item.id) #{item.label}
								//- 会社
								.contact-main__item.is-company
									dt 会社名・団体名
									dd
										input#name(type="text" name="company" placeholder="会社名")
								//- お名前
								.contact-main__item.is-name
									dt.is-required お名前
									dd
										input#name(type="text" name="name" placeholder="お名前")
								//- メールアドレス 
								.contact-main__item.is-email
									dt.is-required メールアドレス
									dd
										input#email(type="email" name="email" placeholder="sample@example.com")
								//- 電話番号 
								.contact-main__item.is-phone
									dt 電話番号
									dd
										input#phone(type="tel" name="phone" placeholder="09012345678")
								//- お問い合わせ内容
								.contact-main__item.is-content
									dt.is-required お問い合わせ内容
									dd
										textarea#remarks(name="remarks")
							//- dl閉じ

							//- プライバリーポリシー
								.contact-main__privacy
									input#privacy(type="checkbox" name="privacy" checked)
									label(for="privacy") 個人情報保護方針に同意する
								// 送信ボタン
								button#submit(disabled).contact-main__submit 送信する
						//- form閉じ

					//- お問い合わせフォーム終了

		// フッター
		include components/_footer
