extends _layout

//- タイトルを指定
block title
	title cording - home

block content
	.wrapper

		//- 共通変数クラス
			一度読み込めば他部品でも変数を使用可能：むしろ各所でincludeするとエラーになる
		include common/_variable

		// ヘッダー
		include components/_header

		// メイン
		main.main 

			//- home-top
			section.home-top 
				.home-top__bg 
				.home-top__inner 
					.home-top__message 
						p.home-top__message--sub デザインで人を笑顔にする会社<br>
							span DIGSMILE INC.
						h1.page-title.home-top__message--main 
							| DESIGN<br>
							| FOR<br>
							| SMILE.<br> 

			//- home-about
			section.section.home-about
				.inner.home-about__inner 
					.home-about__upper
						.home-about__upper--context
							.h2.section__title.home-about__upper--title ABOUT US
							.home-about__upper--text
								| DIGSMILEは、デザインで人を笑顔にする会社。<br>
								| なんでもない日常に少しのワクワクと遊び心を提供します。
								| 笑顔には世界を変える力がある、デザインには人を幸せにする力がある。
								| 毎日に幸せを感じて生きていきたい。<br>
								| DIGSMILEの社名にはそんな想いが込められています。
							.util__link.home-about__upper--link
								a(href="#") READ MORE
					.home-about__lower
						//- works
						.home-about__lower--item
							h3.section__title.home-about__lower--title WORKS
							.home-about__lower--img
								img(src="./img/home/works.png" alt="works")
							.home-about__lower--context
								p.home-about__lower--text DIGSMILEの制作実績を紹介します。
								.util__link.home-about__lower--link
									a(href="#") READ MORE
						//- culture
						.home-about__lower--item
							h3.section__title.home-about__lower--title CULTURE
							.home-about__lower--img
								img(src="./img/home/culture.png" alt="culture")
							.home-about__lower--context
								p.home-about__lower--text DIGSMILEの社内文化について紹介します。
								.util__link.home-about__lower--link
									a(href="#") READ MORE

			//- home-latest-topics
			section.section.home-latest-topics
				.inner.home-latest-topics__inner
					h2.section__title.home-latest-topics__title LATEST TOPICS
					ul.home-latest-topics__list
						each item in homeLatestTopicsList
							//- item
							li.home-latest-topics__item 
								time(datetime=item.dateTag) #{item.date}
								p #{item.text}
					.util__link.home-latest-topics__link
						a(href="#") READ MORE

			//- home-contact
			section.section.home-contact
				.inner.home-contact__inner
					.home-contact__img 
						img(src="./img/home/contact.png" alt="contact")
					.home-contact__context  
						h2.section__title.home-contact__title CONTACT
						.home-contact__text 
							| 制作の依頼、取材の依頼、IRや採用についての連絡・
							| お問い合わせはコンタクトページから承っております。<br>
							| まずはお気軽にご連絡ください。担当者から改めて返信いたします。
						.util__link.home-contact__link
							a(href="#") READ MORE

		// フッター
		include components/_footer
