.about {
	margin-top: 120px;

	@include mq(tab) {
		margin-top: 100px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-top: 42px;

		@include mq(tab) {
			display: block;
		}
		@include mq(sp) {
			margin-top: -10px;
		}
	}

	&__title {
		// 
	}

	&__content {
		padding-top: 30px;

		@include mq(tab) {
			text-align: center;
		}
		@include mq(sp) {
			padding-top: 0;
		}
		&--title {
			font-weight: 600;
			font-size: 3.2rem;
			line-height: 1.7;

			@include mq(tab-only) {
				margin-top: 20px;
				font-size: 2.8rem;
			}
			@include mq(sp) {
				margin-top: 40px;
				font-size: 2.6rem;
			}
		}
		&--text {
			margin-top: 12px;
			font-size: 2.2rem;
			line-height: 1.7;

			@include mq(tab-only) {
				margin-top: 20px;
				font-size: 1.8rem;
			}
			@include mq(sp) {
				margin-top: 7px;
				font-size: 1.6rem;
			}
		}
	}

	&__link {
		margin: 28px auto 0 0;

		@include mq(tab) {
			margin: 15px auto 0;
		}
	}


	&__img {
		@include mq(tab-only) {
			margin-top: 20px;
		}
		@include mq(sp) {
			margin-top: 50px;
		}
		// width: 450px;
		// height: 300px;
		img {
			width: 100%;
		}
	}
}
