//-------------------------------------------------- 
//- 共通変数管理
//-------------------------------------------------- 

//- 変数は全ファイルで共通！
	accessの中で定義した変数メイと同一の変数名の変数をcontactで定義した場合はエラー
	同じファイルを2回includeしてもエラー


//- セクションタイトルリスト
- 
	const sectionList = [
		{'id':'home','label':'HOME'},
		{'id':'about','label':'ABOUT'},
		{'id':'contact','label':'CONTACT'},
	]
	const homeLatestTopicsList = [
		{'dateTag':'2020-02-01','date':'2020.02.01','text':'イベントレポート「VRクリエイター座談会 〜5Gの次に来るもの〜」'},
		{'dateTag':'2020-01-18','date':'2020.01.18','text':'プレスリリースのお知らせ DIGGIN’ RECORDS'},
		{'dateTag':'2020-01-01','date':'2020.01.01','text':'新年明けましておめでとうございます'},
	]