//-------------------------------------------------- 
//- 共通変数管理
//-------------------------------------------------- 

//- 変数は全ファイルで共通！
	accessの中で定義した変数メイと同一の変数名の変数をcontactで定義した場合はエラー
	同じファイルを2回includeしてもエラー


//- セクションタイトルリスト
- 
	const sectionList = [
		{'id':'home','label':'HOME','url':'/'},
		{'id':'about','label':'ABOUT','url':'/about.html'},
		{'id':'contact','label':'CONTACT','url':'/contact.html'},
	]
	const homeLatestTopicsList = [
		{'dateTag':'2020-02-01','date':'2020.02.01','text':'イベントレポート「VRクリエイター座談会 〜5Gの次に来るもの〜」'},
		{'dateTag':'2020-01-18','date':'2020.01.18','text':'プレスリリースのお知らせ DIGGIN’ RECORDS'},
		{'dateTag':'2020-01-01','date':'2020.01.01','text':'新年明けましておめでとうございます'},
	]
	const aboutCompanyList = [
		{'title':'社名','desc':'株式会社DIGSMILE'},
		{'title':'代表取締役','desc':'テイラー・スウィフト'},
		{'title':'設立','desc':'2020年1月1日'},
		{'title':'資本金','desc':'1億円'},
		{'title':'所在地','desc':'東京都新宿区☓☓0-0-0'},
		{'title':'電話番号','desc':'03-0000-00000'},
	]
	const contactKindList = [
		{'label':'制作依頼','id':'request','value':'REQUEST'},
		{'label':'採用','id':'recuruitment','value':'RECURUITMENT'},
		{'label':'IR','id':'ir','value':'IR'},
		{'label':'その他','id':'other','value':'OTHER'},
	]