$contact-top-linear-width-pc: (780px / $layout-width-canvas-pc) * 100%;
$contact-top-linear-width-tab: (406px / $layout-width-canvas-tab) * 100%;
$contact-top-linear-width-sp: (198px / $layout-width-canvas-sp) * 100%;
.contact-top {
	position: relative;
	height: 451px;
	background: linear-gradient(
	to left, $black-bg-top 0 , $black-bg-top $contact-top-linear-width-pc
	,transparent $contact-top-linear-width-pc,transparent 100%);

	@include mq(tab) {
		height: 615px;
		background: linear-gradient(
			to left, $black-bg-top 0 , $black-bg-top $contact-top-linear-width-tab
			,transparent $contact-top-linear-width-tab,transparent 100%);
	}
	@include mq(sp) {
		height: 365px;
		background: linear-gradient(
			to left, $black-bg-top 0 , $black-bg-top $contact-top-linear-width-sp
			,transparent $contact-top-linear-width-sp,transparent 100%);
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100%;
		height: 387px;
		background-image: url(../img/contact/contact-top.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		// 背景黒透明
		@extend %bg-darken;
		@include mq(tab-only) {
			width: (578px / $layout-width-canvas-tab) * 100%;
			height: 529px;
		}
		@include mq(sp) {
			width: (287px / $layout-width-canvas-sp) * 100%;
			height: 270px;
		}		
	}
	&__inner {
		position: absolute;
		top: 165px;
		right: 145px;
		z-index: 5;
		color: $white;

		@include mq(tab-only) {
			top: 142px;
			right: 48px;
		}
		@include mq(sp) {
			top: 140px;
			right: 20px;
		}
	}
	&__title {
		letter-spacing: 0.063em;
		@include mq(tab) {
			font-size: 5.2rem;
		}
	}
	&__message {
		&--sub {
			margin-top: 6px;
			font-size: 2rem;
			font-family: $font-family-notosans;
			font-weight: $font-weight-bold;
			@include mq(tab) {
				font-size: 1.6rem;
				letter-spacing: 0.05em;
				margin-top: 18px;
			}
			@include mq(sp) {
				text-align: right;
			}
		}
	}
}
