.contact-main {
	padding: 120px 0;
	&__inner {
		width: 700px;
		// padding: 0 *px 0 *px;

		@include mq(tab-only) {
			// width:(*px / $layout-width-canvas-tab) * 100%;
			// padding: 0 *px 0 *px;
		}
		@include mq(sp) {
			// width:(*px / $layout-width-canvas-sp) * 100%;
			// padding: 0 *px 0 *px;
		}
	}

    $contact-main-line-height-pc: 1.5;
	&__lead {
		line-height: $contact-main-line-height-pc;
		font-family: $font-family-notosans;
		@include lhCrop($contact-main-line-height-pc);
	}
	&__content {
		margin-top: 55px;
	}
	&__list {
		// 
	}

	&__item {
		& + &{
			margin-top: 45px;
		}
		// ===========================
		// 共通設定
		// ===========================

		// タイトル ====================
		dt {
			// 必須マーク
			&.is-required {
				display: flex;
				align-items: center;
				&::after {
					display: block;
					width: 34px;
					height: 18px;
					margin-left: 20px;
					background: $black-text;
					color: $white;
					font-size: 1.2rem;
					line-height: 18px;
					font-family: $font-family-notosans;
					text-align: center;
					content: '必須';
				}
			}
		}

		// 内容 ====================
		dd {
			margin-top: 12px;
			select {
				// 
			}
            // ラジオボタン以外は、横幅いっぱい
			input:not([type="radio"]),textarea{
				width: 100%;
				&:hover,
				&:focus{
					outline: none;
					box-shadow: 0px 0px 5px 0px $blue-active;
					border: 1px solid $blue-active;
				}
			}
            input{
                height: 41px;
				padding: 5px 10px;
            }
			textarea {
				font-family: $font-family-notosans;
				line-height: 1.5;
				padding: 10px;
				white-space: pre-wrap;// textareaに改行
			}
			input[type='text'] {
				// 
			}
			input[type='email'] {
				// 
			}
		}

		// ===========================
		// 個別設定
		// ===========================
		&.is-kind {
			// 
		}
		&.is-company {
			// 
		}
		&.is-name {
			// 
		}
		&.is-email {
			// 
		}
		&.is-phone {
			// 
		}
		&.is-content {
			textarea{
				height: 212px;
			}
		}
		&.is-privacy-text {
			textarea{
				height: 242px;
			}
		}
		&.is-privacy-check {
			text-align: center;
		}

		// ラジオボタン（横並びかつ、ラベルとボタンも横並び）
		&--radio {
			display: inline-flex;
			align-items: center;
		}
    }
	&__submit{
		font-weight: $font-weight-bold;
		margin: 41px auto 0;
		display: block;
		width: 160px;
		height: 36px;
		border-width: $util-link-border-size;
		border-style: solid;
		border-color: $black-bg;
		background: $black-bg;
		color: $white;
		transition: all $transition-change-time ease 0s;
		font-size: 1.4rem;
		line-height: getLineHeightForBox($util-link-height-pc, $util-link-border-size);
		&:hover {
			background: $white;
			color: $black-text;
			cursor: pointer;
		}
	}
}
