.footer {
	height: 50px;
	color: $white;
	font-size: 1rem;
	font-family: $font-family-english;
	background: $gray;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	small{
		display: block;
		letter-spacing: 0.02em;
	}
	&__link{
		margin-top: 5px;
	}
}
